.blacksolidbutton{
    background-color: var(--primary) !important;
    color: var(--light);
    padding-left: 26px !important ;
    padding-right: 26px !important ;
    border-radius: 7px !important ;
    padding-top: 13px !important ;
    padding-bottom: 13px !important ;
}