.tablefilets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}
.tableendtooltip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#deletebutton{
    background-color: var(--secondary) !important;
    color: white !important;
    border: var(--dark) !important;
}
#editbutton{
    background-color: var(--primary) !important;
    color: white !important;
    border: var(--dark) !important;
}
#editbutton i{
    color: white !important;
}
.mytableheader{
    background-color: var(--secondary);
    color: white;
}
.mytablebody{
    border-top: white !important;
}

.page-item a:hover{
    color: black !important;
}